body {
    background-color: LightGray;
}
div {
    border: 1px solid Chocolate;
}


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.top-navigation {
    background-color: #fff;
}
.top-navigation > .content {
    width: 970px;
    height: 70px;
    margin: 0 auto;
    margin-top: 14px;
    margin-left: 14px;
    margin-bottom: 14px;
    padding: 0px 15px;

  }

.top-navigation > .links {
  float: right; 
  font-family: 'Roboto', sans-serif;
  color: #838994;
  font-size: 16px;
  margin-top: 25px;
  -webkit-font-smoothing: antialiased;
}


.top-navigation .links li  {
  display: inline-block;
  margin-left: 25px;  
}


.top-navigation .content .active {
  color: #4c5058;
  font-weight: 500;  
}

.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}

.introduction{
    background-image: url('first-background.jpg');
    background-position: 0 bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;


}

.introduction > .content{
margin:0 auto; 
width: 970px;
display: block;



}




